@import 'styles/module';

:root {
  @include text-content-4;
}

.App {
  text-align: center;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  width: 100vw;
  min-height: 100vh;

  &.theme--light {
    @include var(background-color, light-5);
    @include var(color, grey-2);
  }

  &.theme--dark {
    @include var(background-color, dark-0);
    @include var(color, grey-2);
  }
}

h1 {
  @include text-content-1;
}

h2 {
  @include text-content-2;
}

h3 {
  @include text-content-3;
}

h4 {
  @include text-content-4;
}

h5 {
  @include text-content-5;
}

h6 {
  @include text-content-6;
}